<h2>Ten latest topics</h2>
<% if can? :create, Topic %>
  <%= link_to "Add a new topic", new_topic_path, class: 'btn btn-primary btn-mini' %>
 <% end %>
<% @topics.order('created_at DESC').limit(10).each do |topic| %>
  <div class="media">
    <div class="media-body">
        <h4 class="media-heading">
          <%= link_to topic.title, topic %>
        </h4>
        <small>Latest posts in this topic:</small>
          <p> </p>
          <div class="media-body">
            <%= render partial: 'topics/posts/post', collection: topic.posts.order('created_at DESC').limit(4) %>
          </div>
        <div>
          See all posts in <%= link_to topic.title, topic %>
          <small>
            <p></p>
            <%= topic.title %> was submitted <%= time_ago_in_words(topic.created_at) %> ago by <%= link_to topic.user.user_name if topic.user %>
          </small>
        </div>     
      </div>
    </div>
<% end %>
