<div class="jumbotron">
  <h1><%= current_user.user_name %>'s personal BlocMarks</h1>
  <p>Find your own topics and posted urls on this page. ヾ(＠⌒ー⌒＠)ノ</p>
</div>

<div>
  <% if can? :create, Topic %>
    <%= link_to "Add a new topic", new_topic_path, class: 'btn btn-primary btn-mini' %>
  <% end %>
  <p></p>
</div>

<% current_user.topics.each do |topic| %>
  <div class="media">
    <div class="media-body">
        <h4 class="media-heading">
          <%= link_to topic.title, topic %>
        </h4>
        <small>Latest posts in this topic:</small>
          <p> </p>
          <div class="media-body">
            <%= render partial: 'topics/posts/post', collection: topic.posts.order('created_at DESC').limit(4) %>
          </div>
        <div>
          See all posts in <%= link_to topic.title, topic %>
          <small>
            <p></p>
            <%= topic.title %> was submitted <%= time_ago_in_words(topic.created_at) %> ago by <%= topic.user.user_name if topic.user %>
          </small>
        </div>     
      </div>
    </div>
  <% end %>